<div class="wrapper bg-info text-white">
<div class="mx-auto" style="width: 200px;">

<h1>Log In</h1>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <br>
    <%= f.submit "Log In" , :class => "btn btn-dark"%>
  </div>
<% end %>
</div>
</div>
