<div class="container-fluid wrapper bg-info text-white">
  <%= image_tag('meme-logo.png', :class => "rounded mx-auto d-block img-fluid") %>
<div class="mx-auto" style="width: 200px;">

<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <br>
    <%= f.submit "Log In" , :class => "btn btn-dark"%>
  </div>
<% end %>
</div>
</div>
