<%= form_for @meme, html: { multipart: true } do |f| %>
  <% if @meme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meme.errors.count, "error") %> prohibited this meme from being saved:</h2>

      <ul>
      <% @meme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, :for => "exampleInputName1" %><br>
    <%= f.text_field :name, autofocus: true, :class => "form-control", :id => "exampleInputName1", :placeholder => "Name"  %>
  </div>
  <div class="field">
    <%= f.label :description, :for => "exampleFormControlTextarea1" %><br>
    <%= f.text_area :description, :class => "form-control", :id => "exampleFormControlTextarea1", :row => "3"%>
  </div>
  <br>
  <div class="field">
    <%= f.label :image, class: "btn btn-dark" do  %>
      Upload Image
      <%= f.file_field :image, :class => "d-none" %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-light"%>
  </div>
<% end %>
