<div class="container-fluid wrapper text-white">
  <%= image_tag('meme-logo.png', :class => "rounded mx-auto d-block img-fluid") %>
  <div class="mx-auto" style="width: 350px;">
    <!-- <h1>Sign Up Here!</h1> -->
    <br>
    <br>
    <%= form_for @user,:html => {:class => "form-horizontal center"} do |f| %>
    <div>
      <%= f.label :name, :for => "exampleInputName1" %>
      <%= f.text_field :name, autofocus: true, :class => "form-control", :id => "exampleInputName1", :placeholder => "Name"  %>
    </div>
    <div>
      <%= f.label :email, :for => "exampleInputEmail1" %>
      <%= f.text_field :email, autofocus: true, :class => "form-control", :id => "exampleInputEmail1", :placeholder => "Enter Email"  %>
    </div>

    <div>
      <%= f.label :password, :for => "exampleInputpassword1" %>
      <%= f.text_field :password, autofocus: true, :class => "form-control", :id => "exampleInputPassword1", :placeholder => "Password"  %>
    </div>
    <div>
      <%= f.label :password_confirmation, :for => "exampleInputpassword1" %>
      <%= f.text_field :password, autofocus: true, :class => "form-control", :id => "exampleInputPassword1", :placeholder => "Confirm Password"  %>
    </div>
    <div>
      <br>
      <%= f.submit "Sign Up", :class => "btn btn-light" %>
    </div>
    <% end %>
  </div>
</div>
